* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

main {
  height: 80vh;
}
.add-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-button {
  padding: 20px;
}
form {
  display: none;
  position: absolute;
}
.submit {
  padding: 20px;
}
.card-container {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}
/*  */
footer {
  height: 10vh;
}
